@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

mat-list-item {
    cursor: pointer;
  padding: 10px 30px;
  box-shadow: rgb(133, 133, 133) 4px 4px 20px;
  
}
mat-list-item:hover {
    
  //padding: 10px 30px;
  box-shadow: rgb(137, 33, 185) 4px 4px 20px;
  color: rgba(131, 131, 131, 0.055);
}

mat-form-field {
  margin-left: 6px;
  width: 90%;
}



.monDresseur {
  size-adjust: 100;
}

button {
  margin-top: 10px;
  margin-left: 6px;
  padding: 10px 30px;;
  object-fit: fill;
  position: sticky;
  width: 90%;
}


#title {
    margin-left: 0px;
    margin-right: auto;
    width: 2em;
    padding: 2em;
}
p {
    color:rgb(105, 105, 105);
}


        
